.calendar {
  .day {
    height: 80px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #FF0
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #888;
  }
  .next-month {
    background: #888;
  }
  .current-month {}

  .has-events {}
}
